@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1635837843309') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-shouyetianchong:before {
  content: "\e692";
}

.icon-quanbudingdan:before {
  content: "\f018e";
}

.icon-homeuizqdianying:before {
  content: "\e622";
}

.icon-sousuo:before {
  content: "\e651";
}

.icon-zan:before {
  content: "\e677";
}

.icon-xiajiantou:before {
  content: "\f034e";
}

.icon-daohang:before {
  content: "\e62b";
}

.icon-qiaquan:before {
  content: "\e631";
}

.icon-shipin:before {
  content: "\e61e";
}

.icon-ditu-dibiao:before {
  content: "\ec3f";
}

.icon-shipin1:before {
  content: "\e786";
}

.icon-wode:before {
  content: "\e630";
}

